@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";

$desktop: sprite-map("desctop/*.png", $spacing: 100px, $icons-sprite-dimensions: true);
$mobile:  sprite-map("mobile/*.png", $spacing: 100px, $icons-sprite-dimensions: true);
$dwidth: 1260px;

// шрифты

@font-face {
  font-family: 'MyriadPro';
  src: 	url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),  
  		url('../fonts/MyriadPro-Regular.otf')  format('opentype'),
	    url('../fonts/MyriadPro-Regular.woff') format('woff'), 
	    url('../fonts/MyriadPro-Regular.ttf')  format('truetype'), 
	    url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
// шрифты

// сбросы стилей clear
@mixin clearfix {
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}
input:focus, a:focus {
	outline: 0px solid #fff;
}
@mixin before-block {
	&:before {
		content: "";
		display: block;
	}
}
@mixin after-block {
	&:after {
		content: "";
		display: block;
		margin: 0 0 15px 0;
	}
}
// сбросы стилей clear

.clearfix {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

// миксины
@mixin background-desktop ($url, $x: 0, $y: 0) {
	background: {
		image: sprite-url($desktop);
		repeat: no-repeat;
		position: sprite-position($desktop, $url, $x, $y);
	}
}

@mixin background-mobile ($url, $x: 0, $y: 0) {
	background: {
		image: sprite-url($mobile);
		repeat: no-repeat;
		position: sprite-position($mobile, $url, $x, $y);
	}
}

@mixin box-sizing {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
@mixin flex ($display-flex, $justify-content, $align-items) {
	@include display-flex($display-flex);
	@include justify-content($justify-content);
	@include align-items($align-items);
}

@mixin flex ($display-flex:"flex", $justify-content:"flex-start", $align-items:"flex-start", $flex-direction:"row", $align-content:"stretch", $flex-wrap:"nowrap") {
	@include display-flex($display-flex);
	@include justify-content($justify-content);
	@include align-items($align-items);
	@include flex-direction($flex-direction);
	@include align-content($align-content);
	@include flex-wrap($flex-wrap);
}
@mixin order ($integer) {
	-webkit-box-ordinal-group: $integer;  
	-moz-box-ordinal-group: $integer;     
	-ms-flex-order: $integer;     
	-webkit-order: $integer;  
	order: $integer;
}
@mixin align-self ($string) {
	-webkit-align-self: $string;  
	-moz-box-align-self: $string;     
	-ms-align-self: $string;     
	-webkit-align-self: $string;  
	align-self: $string;
}
// миксины


// основные стили страницы
body {
	background: #fff;
	font: {
		family: 'MyriadPro';
		size: 13px;
	}
	color: #333;
	line-height: 18px;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: green;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%; 
}
.wrapper {
	width: $dwidth; 
	margin: auto;
	@include box-sizing;
}
@mixin p {
	font-size: 14px;
	color: #333;
	line-height: 21px;
}
h1 {
	font-size: 23px;
	color: #d02653;
	text-transform: uppercase;
}
h2 {
	font-size: 22px;
}
h3, h4, h5, h6 {
	font-size: 14px;
	color: #cc3366;
	font-weight: bold;
}
// основные стили страницы

