html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'MyriadPro';
  src: url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.otf") format("opentype"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
input:focus, a:focus {
  outline: 0px solid #fff;
}

body {
  background: #fff;
  font-family: 'MyriadPro';
  font-size: 13px;
  color: #333;
  line-height: 18px;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: green;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.wrapper {
  width: 1260px;
  margin: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

h1 {
  font-size: 23px;
  color: #d02653;
  text-transform: uppercase;
}

h2 {
  font-size: 22px;
}

h3, h4, h5, h6 {
  font-size: 14px;
  color: #cc3366;
  font-weight: bold;
}

.table {
  display: table;
  border-collapse: collapse;
}
.table__row {
  display: table-row;
  border-bottom: 1px dashed #cdcdcd;
}
.table__row--header, .table__row--footer {
  background: #fbfadb;
  border-top: 3px solid #e7e5b2;
  font-size: 14px;
  color: #6a5f0f;
}
.table__row--footer {
  border-top: 1px dashed #cdcdcd;
  border-bottom: 0;
}
.table__row--tbody:nth-child(odd) {
  background: #f8f8f3;
}
.table__row--cell {
  display: table-cell;
  text-align: center;
  padding: 8px 0;
}

.btn {
  display: inline;
  font-size: 14px;
  text-decoration: none;
  background: #f6f6ef;
  border: 1px solid #edede5;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.btn--active, .btn:hover {
  border-color: #d5e0b6;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZmRlZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YwZjdkZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9fdef), color-stop(100%, #f0f7dd));
  background-image: -moz-linear-gradient(#f9fdef, #f0f7dd);
  background-image: -webkit-linear-gradient(#f9fdef, #f0f7dd);
  background-image: linear-gradient(#f9fdef, #f0f7dd);
  color: #75a122;
}

.select, .date, .finance__form--scroll {
  border: 1px solid #e8e8e8;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 5px 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.input {
  border: 1px solid #e8e8e8;
  height: 28px;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.date {
  padding: 5px 8px 5px 28px;
  background-image: url('../images/desctop-sefa6d08831.png');
  background-repeat: no-repeat;
  background-position: 7px -224px;
}

a {
  text-decoration: none;
  border-bottom: 1px solid #B8C0D3;
  color: #475675;
}
a:hover {
  border-color: #475675;
}

.plask, .site .sidebar__category-list--active {
  background: #f6f6ef;
  border: 1px solid #dfdfd7;
  height: 40px;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 9px 10px 0 10px;
  font-size: 16px;
  color: #333;
}
.plask:after, .site .sidebar__category-list--active:after, .plask:before, .site .sidebar__category-list--active:before {
  width: 20px;
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.plask:after, .site .sidebar__category-list--active:after {
  border-color: rgba(246, 246, 239, 0);
  border-left-color: #f6f6ef;
  border-width: 20px;
  margin-top: -20px;
}
.plask:before, .site .sidebar__category-list--active:before {
  border-color: rgba(223, 223, 215, 0);
  border-left-color: #dfdfd7;
  border-width: 21px;
  margin-top: -21px;
}

.header {
  width: 1260px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.header__top {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  padding: 15px 0 0 0;
}
.header__top--logo {
  display: block;
  background-image: url('../images/desctop-sefa6d08831.png');
  background-repeat: no-repeat;
  background-position: 0 -483px;
  height: 58px;
  width: 209px;
  border: 0;
}
.header__top--earn {
  width: 540px;
  text-align: center;
}
.header__top--earn p {
  font-weight: bold;
}
.header__top--web, .header__top--wap {
  width: 140px;
}
.header__top--web dl dt, .header__top--wap dl dt {
  float: left;
  color: #87bd23;
}
.header__top--web dl dd, .header__top--wap dl dd {
  width: 95px;
  display: block;
  float: right;
  position: relative;
  color: #999;
}
.header__top--web dl dd:before, .header__top--wap dl dd:before {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  position: absolute;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  left: -12px;
  top: 5px;
  border: 2px solid;
}
.header__top--web dl dd.green:before, .header__top--wap dl dd.green:before {
  color: #87bd23;
}
.header__top--web dl dd.red:before, .header__top--wap dl dd.red:before {
  color: #dd5b22;
}
.header__top--web dl dd.yellow:before, .header__top--wap dl dd.yellow:before {
  color: #ffba00;
}
.header__top--web dl dd span.red, .header__top--wap dl dd span.red {
  color: #dd5b22;
}
.header__top--web dl dd span.yellow, .header__top--wap dl dd span.yellow {
  color: #ffba00;
}
.header__top--stat {
  margin: 0 0 0 13px;
}
.header__top--stat dl dt {
  display: none;
}
.header__top--stat dl dd {
  width: 140px;
  position: relative;
  margin: 0 0 3px 0;
  float: none;
}
.header__top--stat dl dd:before {
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  top: 2px;
}
.header__top--stat dl dd strong {
  font-weight: bold;
}
.header__top--stat dl dd.-rate:before {
  background-image: url('../images/desctop-sefa6d08831.png');
  background-repeat: no-repeat;
  background-position: 0 -1137px;
  height: 13px;
  width: 14px;
}
.header__top--stat dl dd.-balance-rub:before {
  background-image: url('../images/desctop-sefa6d08831.png');
  background-repeat: no-repeat;
  background-position: 0 -115px;
  height: 16px;
  width: 16px;
}
.header__top--stat dl dd.-balance-lemon:before {
  background-image: url('../images/desctop-sefa6d08831.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 15px;
  width: 15px;
}

.main-menu {
  width: 100%;
  background: #f6f6ef;
  border-bottom: 2px solid #87bd23;
  margin: 15px 0;
}
.main-menu__container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
}
.main-menu__container--item {
  width: 140px;
  text-align: center;
  height: 45px;
}
.main-menu__container--item > a {
  border: 0;
  font-size: 21px;
  color: #333;
  display: block;
  padding: 16px 20px 0 20px;
  height: 45px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.main-menu__container--item > a:hover {
  color: #87bd23;
}
.main-menu__container--item > ul {
  position: absolute;
  width: 1260px;
  height: 55px;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
  border-bottom: 1px solid #dfdfd7;
}
.main-menu__container--item > ul li {
  position: relative;
  margin: 0 20px;
  height: 55px;
  padding: 20px 0 0 0;
  top: 1px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.main-menu__container--item > ul li a {
  font-size: 16px;
  border-bottom: 1px dashed #87bd23;
}
.main-menu__container--item > ul li:hover, .main-menu__container--item > ul li.-active {
  border-bottom: 1px solid #87bd23;
  cursor: pointer;
}
.main-menu__container--item > ul li:hover:after, .main-menu__container--item > ul li:hover:before, .main-menu__container--item > ul li.-active:after, .main-menu__container--item > ul li.-active:before {
  bottom: -1px;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.main-menu__container--item > ul li:hover:after, .main-menu__container--item > ul li.-active:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 5px;
  margin-left: -5px;
}
.main-menu__container--item > ul li:hover:before, .main-menu__container--item > ul li.-active:before {
  border-color: rgba(135, 189, 35, 0);
  border-bottom-color: #87bd23;
  border-width: 6px;
  margin-left: -6px;
}
.main-menu__container--item > ul li:hover a, .main-menu__container--item > ul li.-active a {
  border: 0;
  color: #333;
}
.main-menu__container--item.-active > a {
  color: #fff;
  background: #87bd23;
}
.main-menu__container--item.-active > ul {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.main-menu__container--item span {
  position: relative;
  padding: 2px;
  font-size: 10px;
  line-height: 1;
  font-weight: bold;
  color: #fff;
  background: #87bd23;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  top: -38px;
  right: -43px;
}

.footer {
  width: 100%;
  border-top: 1px solid #dfdfd7;
  padding: 3px 0;
  margin: 60px 0 0 0;
}
.footer .wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
}
.footer .wrapper .logo-footer {
  background-image: url('../images/desctop-sefa6d08831.png');
  background-repeat: no-repeat;
  background-position: 0 -347px;
  height: 36px;
  width: 35px;
}
.footer .wrapper .footer-menu {
  margin: 0 0 0 20px;
}
.footer .wrapper .footer-menu ul {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
}
.footer .wrapper .footer-menu ul li {
  margin: 0 20px 0 0;
}
.footer .wrapper .footer-menu ul li a {
  font-size: 16px;
}

.news .message-info {
  height: 56px;
  padding: 14px 0 0 0;
  margin: 0 0 15px 0;
  border: 1px dotted #e4e4dd;
  background-image: url('../images/desctop-sefa6d08831.png');
  background-repeat: no-repeat;
  background-position: 20px -629px;
  background-color: #fafaf7;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.news .message-info__text {
  font-size: 16px;
  text-align: center;
}
.news .message-info__text--button {
  border: 1px solid #d5e0b6;
  font-size: 14px;
  color: #75a122;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZmRlZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YwZjdkZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9fdef), color-stop(100%, #f0f7dd));
  background-image: -moz-linear-gradient(#f9fdef, #f0f7dd);
  background-image: -webkit-linear-gradient(#f9fdef, #f0f7dd);
  background-image: linear-gradient(#f9fdef, #f0f7dd);
  display: inline-block;
  vertical-align: middle;
  width: 65px;
  height: 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 5px 0 0 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: -2px 0 0 15px;
}
.news .news-list .news-list__item {
  padding: 32px 23px 23px 73px;
  border: 1px dotted #e4e4dd;
  position: relative;
}
.news .news-list .news-list__item:before {
  content: "";
  display: block;
  position: absolute;
  left: 23px;
  top: 23px;
  height: 32px;
  width: 28px;
  background-image: url('../images/desctop-sefa6d08831.png');
  background-repeat: no-repeat;
  background-position: 0 -886px;
}
.news .news-list .news-list__item p {
  margin: 15px 0;
}

.statistics .filter {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.statistics .filter__group {
  width: 850px;
}
.statistics .filter__by-week {
  width: 366px;
  text-align: right;
}
.statistics .filter__choice {
  margin: 10px 0 0 0;
}
.statistics .filter__choice .select.select--choice, .statistics .filter__choice .select--choice.date, .statistics .filter__choice .select--choice.finance__form--scroll {
  display: inline-block;
  width: 208px;
}
.statistics .filter__date {
  margin: 10px 0 0 0;
}
.statistics .filter__date .date {
  width: 160px;
}
.statistics .filter__date--title {
  font-size: 16px;
  color: #333;
}
.statistics .table-stat {
  margin: 10px 0 0 0;
  width: 1260px;
}
.statistics .table-footer {
  margin: 15px 0 0 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.statistics .table-footer__active-pdp span {
  color: #75a122;
}
.statistics .table-footer__referal-link {
  font-size: 16px;
}
.statistics .table-footer__referal-link .input {
  width: 300px;
  font-size: 13px;
}

.site {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.site .sidebar {
  width: 245px;
  padding: 14px 23px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 6px #dbdbdb;
  -webkit-box-shadow: 0 0 6px #dbdbdb;
  box-shadow: 0 0 6px #dbdbdb;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.site .sidebar__category-name {
  color: #c3c3bb;
  font-size: 14px;
}
.site .sidebar__category-list--item {
  display: block;
  margin: 15px 0;
}
.site .sidebar__category-list--item a {
  font-size: 16px;
  color: #333;
  text-transform: uppercase;
  border-bottom: 1px dashed #a1bd50;
}
.site .sidebar__category-list--item a:hover {
  border-style: solid;
}
.site .sidebar__category-list--active {
  width: 245px;
  left: -24px;
  border-color: #efefeb;
  padding-top: 11px;
  padding-left: 23px;
}
.site .sidebar__category-list--active a {
  border-bottom: 0;
  font-weight: bold;
}
.site .sidebar__category-list--new a {
  position: relative;
}
.site .sidebar__category-list--new a:after {
  position: absolute;
  content: "NEW";
  font-size: 10px;
  line-height: 1;
  font-weight: bold;
  color: #fff;
  background: #87bd23;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 2px 3px;
  top: 5px;
  right: -29px;
}
.site .top-site {
  width: 983px;
}
.site .top-site__filter {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  margin: 0 0 10px 0;
}
.site .top-site__filter .select, .site .top-site__filter .date, .site .top-site__filter .finance__form--scroll {
  width: 204px;
}
.site .top-site__filter div span {
  font-size: 16px;
  font-weight: bold;
}
.site .top-site__filter div a {
  font-size: 14px;
  display: inline-block;
  margin: 0 3px;
}
.site .top-site__filter div a.active {
  color: #72a613;
  font-weight: bold;
  border: 0;
}
.site .top-site__content {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: #fafaf7;
  border: 1px dotted #dfdfd7;
  padding: 20px 18px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.site .top-site__content--left {
  width: 200px;
  text-align: center;
}
.site .top-site__content--left p {
  font-size: 28px;
  color: #333;
  text-align: left;
}
.site .top-site__content--left img {
  margin: 20px 0 15px;
}
.site .top-site__content--left a {
  font-size: 16px;
  border-bottom: 1px dashed #a1bd50;
}
.site .top-site__content--left a:hover {
  border-bottom: 1px solid #a1bd50;
}
.site .top-site__content--right .tabs {
  width: 717px;
}
.site .top-site__content--right .tabs__container {
  border-bottom: 1px dashed #e3e3dc;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.site .top-site__content--right .tabs__container--item {
  width: 95px;
  height: 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  padding: 5px 0 0 0;
  font-size: 14px;
}
.site .top-site__content--right .tabs__container--item-current {
  position: relative;
  height: 31px;
  top: 1px;
  border: 1px dashed #e3e3dc;
  border-bottom: 1px solid #fafaf7;
}
.site .top-site__content--right .tabs__container--item-current a {
  color: #72a613;
  border: 0;
  font-weight: bold;
}
.site .top-site__content--right .tabs__box {
  padding: 26px 0 0 0;
  display: none;
  position: relative;
}
.site .top-site__content--right .tabs__box .urls {
  width: 500px;
}
.site .top-site__content--right .tabs__box .urls__title {
  font-size: 16px;
  font-weight: bold;
  display: inline;
}
.site .top-site__content--right .tabs__box .urls__content {
  font-size: 13px;
  line-height: 23px;
  display: inline;
}
.site .top-site__content--right .tabs__box .urls__content:after {
  content: "";
  display: block;
  margin: 0 0 15px 0;
}
.site .top-site__content--right .tabs__box .urls__content a:before {
  content: "";
  display: block;
}
.site .top-site__content--right .tabs__box .urls__content .input {
  width: 100%;
  margin: 5px 0 0 0;
}
.site .top-site__content--right .tabs__box .sms-cost__title {
  font-size: 13px;
}
.site .top-site__content--right .tabs__box .sms-cost__title span {
  font-size: 16px;
  font-weight: bold;
}
.site .top-site__content--right .tabs__box .sms-cost__block-operators {
  width: 205px;
}
.site .top-site__content--right .tabs__box .sms-cost__operator {
  display: inline-block;
  width: 53px;
  margin: 0 5px 0 0;
  text-align: right;
}
.site .top-site__content--right .tabs__box .sms-cost__operator-cost {
  display: inline-block;
  width: 124px;
}
.site .top-site__content--right .tabs__box .sms-cost__operator-cost .select, .site .top-site__content--right .tabs__box .sms-cost__operator-cost .date, .site .top-site__content--right .tabs__box .sms-cost__operator-cost .finance__form--scroll {
  width: 38px;
  padding: 3px 5px 3px 0;
  font-size: 12px;
  color: #666;
}
.site .top-site__content--right .tabs__box .more {
  position: relative;
  left: 71px;
}
.site .top-site__content--right .tabs__box .more:before {
  content: "";
  background-image: url('../images/desctop-sefa6d08831.png');
  background-repeat: no-repeat;
  background-position: 0 -774px;
  height: 12px;
  width: 7px;
  position: absolute;
  left: -10px;
  top: 4px;
}
.site .top-site__content--right .tabs__box .reset {
  position: absolute;
  bottom: 16px;
  right: 25px;
  text-align: right;
  width: 100px;
}
.site .top-site__content--right .tabs__box .reset a {
  line-height: 18px;
}
.site .top-site__content--right .tabs__box-visible {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.finance {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  margin: 85px 0 0 0;
}
.finance__title {
  font-size: 30px;
  margin: 0 0 20px 0;
}
.finance__left {
  width: 845px;
}
.finance__left .table-finance-subaccount {
  width: 845px;
  margin: 0 0 60px 0;
}
.finance__left .table-finance-subaccount__row--cell:first-child {
  text-align: left;
  padding-left: 11px;
}
.finance__left .table-finance-counters {
  width: 845px;
}
.finance__left .table-finance-counters__row--cell:first-child {
  text-align: left;
  padding-left: 11px;
}
.finance__left .table-finance-counters__row--cell span {
  color: #81a83d;
}
.finance__left .table-finance-counters--btn {
  padding: 2px 5px;
}
.finance__right--title {
  color: #75a122;
}
.finance__form {
  width: 400px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: #fafaf7;
  border: 1px dotted #dfdfd7;
  padding: 27px;
}
.finance__form label {
  font-size: 16px;
  font-weight: bold;
}
.finance__form .input, .finance__form--scroll {
  width: 100%;
  margin: 5px 0 15px 0;
}
.finance__form input[type=checkbox] {
  position: relative;
  top: 2px;
}
.finance__form textarea.input {
  height: auto;
}
.finance__form--validator {
  display: block;
  position: relative;
  padding: 0 0 0 20px;
  margin: 15px 0;
}
.finance__form--validator:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  background-image: url('../images/desctop-sefa6d08831.png');
  background-repeat: no-repeat;
  background-position: 0 -1250px;
  height: 14px;
  width: 14px;
}
.finance__form--scroll {
  background: #fff;
  height: 205px;
  padding: 5px;
  overflow-y: scroll;
}
.finance__form--scroll label {
  font-size: 13px;
}
.finance__form--scroll label:after {
  content: "";
  display: block;
}
.finance__form--choice-subaccount {
  margin: 0 0 15px 0;
}
.finance__form--choice-subaccount .label {
  font-size: 13px;
}
