.option {
	@include flex(flex, space-between, flex-start);
	margin: 85px 0 0 0;
	&__title {
		font-size: 30px;
		margin: 0 0 20px 0;
	}
	&__left {
		width: 845px;
		.table-option-subaccount {
			width: 845px;
			margin: 0 0 60px 0;
			&__row {
				&--cell {
					&:first-child {
						text-align: left;
						padding-left: 11px;
					}
				}
			}
		}
		.table-option-counters {
			width: 845px;
			&__row {
				&--cell {
					&:first-child {
						text-align: left;
						padding-left: 11px;
					}
					span {
						color: #81a83d;
					}
				}
			}
			&--btn {
				padding: 2px 5px;
			}
		}
		&--title {
			color: #75a122;
		}
		&--parking {
			width: 627px;
		}
	}
	&__right {
		&--title {
			color: #75a122;
		}
		&--parking {
			width: 627px;
		}
		.table-option-parking {
			width: 627px;
			margin: 0 0 15px 0;
			&__row {
				&--cell {
					text-align: left;
					&:first-child {
						width: 40px;
						text-align: center;
					}
				}
				&--footer {
					> .table-option-parking__row--cell {
						height: 5px;
						padding: 0;
					}
				}
			}
		}
	}
	&__form {
		width: 400px;
		@include box-sizing;
		background: #fafaf7;
		border: 1px dotted #dfdfd7;
		padding: 27px;
		label {
			font-size: 16px;
			font-weight: bold;
		}
		.input, &--scroll {
			width: 100%;
			margin: 5px 0 15px 0;
		}
		input[type=checkbox] {
			position: relative;
			top: 2px;
		}
		textarea.input {
			height: auto;
		}
		&--validator {
			display: block;
			position: relative;
			padding: 0 0 0 20px;
			margin: 15px 0;
			&:before {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				@include background-desktop(validator);
				@include sprite-dimensions($desktop, validator);
			}
		}
		&--scroll {
			@extend .select;
			background: #fff;
			height: 205px;
			padding: 5px;
			overflow-y: scroll;
			label {
				font-size: 13px;
				font-weight: normal;
				&:after {
					content: "";
					display: block;
				}
			}
		}
		&--choice-subaccount {
			margin: 0 0 15px 0;
			.label {
				font-size: 13px;
				font-weight: normal;
			}
		}
	}
	&__data-form{
		@include clearfix;
		border: 1px dotted #dfdfd7;
		padding: 20px 20px 20px 35px;
		.info-line{
			margin: 0 0 10px 0;
			&__option-name{
				display: inline-block;
				font-size: 16px;
				width: 180px;
			}
			&__data{
				width: 198px;
				height: 30px;
				@include box-sizing;
				padding: 10px;
				font-size: 13px;
				border: 1px solid #e8e8e8;
				@include border-radius(3px);
			}
			.btn{
				float: right;
				margin: 35px 0 0 0;
			}
			&--checkbox{
				margin: 0 0 0 180px;
			}
		}
	}
}
.option-profile{
	.warning{
		@include background-desktop(validator);
		width: 330px;
		display: block;
		padding: 0 0 0 20px;
		margin: 20px 0 0 0;
	}
	.first-column{
		float: left;
	}
	.second-column{
		float: right;
	}
	.option__right{
		width: 400px;
	}
}