.statistics {
	&--empty {
		padding: 50px 0;
		text-align: center;
	}
	.filter {
		@include flex(flex, space-between, center);
		&__group {
			width: 850px;
		}
		&__by-week {
			width: 366px;
			text-align: right;
		}
		&__choice {
			margin: 10px 0 0 0;
			.select {
				&.select--choice {
					display: inline-block;
					width: 208px;
				} 
			}
		}
		&__date {
			margin: 10px 0 0 0;
			.date {
				width: 160px;
			}
			&--title {
				font-size: 16px;
				color: #333;
			}
		}
	}
	.table-stat {
		margin: 10px 0 0 0;
		width: $dwidth;
	}
	.table-footer {
		margin: 15px 0 0 0;
		&__active-pdp {
			float: left;
			span {
				color: #75a122;
			}
		}
		&__referal-link {
			font-size: 16px;
			float: right;
			.input {
				width: 300px;
				font-size: 13px;
			}
		}
		@include clearfix;
	}
}